.content-loader {
  border-radius: 16px;
  height: 45px;
  background: linear-gradient(242.07deg, #c5bfd344 52.03%, #deb48a2e 73.09%);
  background-size: 400% 400%;
  animation-name: content-loader-anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;

}

.item-placeholder {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 45px 39px 25px;
  background: #323232;
  max-width: 220px;

  &-image {

    @extend .content-loader;
    width: 162px;
    max-width: 100% !important;
    height: 120px !important;

  }

  &-content-title {

    @extend .content-loader;
    margin: 10px auto 5px;
    width: 89px;
    height: 19px !important;
    
  }

  &-content-subtitle {

    @extend .content-loader;
    margin: 15px auto !important;
    width: 49px;
    height: 19px !important;
    
  }

}

.items-placeholder-block {

  display: flex;
  flex-wrap: wrap;
  margin-right: -2.5%;

  .item-placeholder {

    @media only screen and (max-width: 1003px) {

      width: 30% !important;
      margin: 1.5% !important;
      
      
    }

    @include media-query(mobile) {

      width: 45% !important;
      margin: 1.5% !important;
      
      
    }

    @include media-query(real-mobile) {

      width: 100% !important;
      max-width: 300px !important;
      margin-right: auto !important;
      margin-left: auto !important;

    }

    width: 22% !important;
    max-width: 400px !important;
    margin: 1.75%;

    &:nth-child(4n + 1) {

      margin-left: 0;

    }

    &:nth-child(4n) {

      margin-right: 0;

    }

  }

}

@keyframes content-loader-anim {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
