.main-layout {
  @include media-query('non-pc') {
    display: block;
  }
  display: grid;
  grid-template-columns: 283px calc(100% - 283px);
  min-height: 100vh;

  &-sideNav {

    @include media-query('non-pc') {
      display: none;
    }

    display: flex;
    flex-direction: column;
    padding: 30px 0;
    max-width: 100%;
    height: 100%;
    max-height: 100vh;
    background: color(sideNav-color);

    button {

      display: block;
      margin: auto;
      margin-bottom: -30px;
      width: 180px;

    }

    &-content {

      @include media-query(non-pc) {

        max-height: calc(100vh - 175px);

      }

      margin-top: 50px;
      padding: 50px 0 14px;
      // max-height: calc(100vh - 179px);
      overflow-y: scroll;
    }

    &-item {

      @include media-query(non-pc) {

        padding-left: 0;

      }

      padding: 0 15px 0 26px;

      &.active {
        background: transparentize(color(primary), 0.8);
      }

    }

    &-item a {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: primary;

      div {
        display: flex;
        align-items: center;
        margin-right: 24px;
      }

    }

    &-item-block-title {

      @include font-size(regular);
      margin: 40px 0 20px;
      color: color(tertiary);

    }

    &-item-block-links {

      a {

        opacity: 0.4;
        padding: 10px 0;

      }

      a.active {

        opacity: 1;

      }

    }

    &-item-logout {

      margin-top: 40px;
      border-top: 1px solid transparentize(color(primary), 0.9);
      padding-top: 20px;
      color: color(primary);

    }

    &-item:nth-child(3) p {

      margin-top: 30px;

    }

  }

  &-topBar {

    @include media-query(pc-low-resolution) {

      padding-right: 30px;

    }

    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 50px 30px;
    padding-right: 60px;
    width: 100%;

    &-company {

      display: flex;
      align-items: center;
      padding-left: 0;
      width: 223px;

      &-box {
        display: flex;
  
        img {
  
          display: block;
          margin-top: -50px;
          width: 131.8px;
          height: 48px;
  
        }
  
      }

    }

    &-right {

      display: flex;
      flex-grow: 1;
      align-items: center;
      padding-left: 105px;

      p {

        @include font-size-override(regular);
        color: color(primary);

      }


      &-notifications {

        display: block;
        margin-right: 10px;
        margin-left: 10px;
  
      }
      

    }

    &-search {

      flex-grow: 1;

      .form-field {

        max-width: 400px;
        margin-bottom: 0;

      }

    }

  }

  &-header-mobile {
    z-index: 2;

    .main-layout-sideNav-content {
      margin-top: 0;
      padding: 10px 20px;
    }
  
  }

  &-header-main {

    @include media-query(non-mobile) {

      width: 100%;
      left: 0;

    }

  }

  &-page-content {
    @extend .strickFadeIn;
    
    @include media-query(non-pc) {
      padding: 120px 34px;
      min-height: unset;
      max-height: unset;
      overflow: unset;
    }
  
    @include media-query(pc-low-resolution) {
      padding: 72px 50px;
    }

    @include media-query('mobile') {
      padding: 45px 15px 32px;
    }

    margin-top: 73px;
    padding: 72px 80px;
    min-height: calc(100vh - 73px);
    max-height: calc(100vh - 73px);
    overflow-y: scroll;

  }

  &-legend {

    @include media-query(mobile) {

      flex-direction: column;

    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    h2 {

      @include font-size(n-large);
      color: color(primary);

    }

  }

  input {

    font-family: $main-font;

  }

}
